<header>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-2 col-md-3 p-0 col-sm-12 nav-img">
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu">
                            <i class="fas d-block d-md-none small-menu fa-bars"></i>
                        </a>
                    </a>
                </div>
                <div id="menu" class="col-lg-7 col-md-7 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/about-us">Giới thiệu</a></li>
                        <li><a href="/services">Dịch vụ</a></li>
                        <li><a href="/news">Tin tức</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </div>
                {% if current_user.is_authenticated %}
                <div class="col-lg-3 d-none d-md-flex align-items-center gap-1">
                {% else %}
                <div class="col-lg-3 d-none d-md-flex align-items-center justify-content-end">
                {% endif %}
                    {% if current_user.is_authenticated %}
                    <a href="/registration-form" class="btn btn-info mr-1">Đặt lịch khám</a>
                    <a href="/history" class="btn btn-info mr-1">Xem lịch sử</a>
                    <a href="/logout" class="btn btn-danger text-white  mr-1">Đăng xuất</a>
                    {% else %}
                    <a href="/login" class="btn btn-info  mr-1">Đăng nhập</a>
                    <a href="/register" class="btn text-primary  mr-1">Đăng ký</a>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
</header>