<header>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row d-flex">
                <div class="col-lg-2 col-md-3 p-0 col-sm-12 nav-img">
                    <a href="/" >
                        <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="">
                        <a data-toggle="collapse" data-target="#menu" href="#menu">
                            <i class="fas d-block d-md-none small-menu fa-bars"></i>
                        </a>
                    </a>
                </div>
                <div id="menu" class="col-lg-8 col-md-8 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li><a href="/about-us">Giới thiệu</a></li>
                        <li><a href="/services">Dịch vụ</a></li>
                        <li><a href="/news">Tin tức</a></li>
                        <li><a href="/contact">Liên hệ</a></li>
                    </ul>
                </div>
                 <div class="col-lg-2 d-none d-lg-flex align-items-center justify-content-between">
                     <button class="btn btn-info mr-2 "><a href="/register">Đăng ký</a></button>
                    <button class="btn btn-info"><a href="/login">Đăng nhập</a></button>
                </div>
            </div>

        </div>
    </div>
</header>